    .ide {
        color: black;
    }

    .int {
        color: greenyellow;
    }

    .flt {
        color: green;
    }

    .par {
        color: orange;
    }

    .end {
        color: blue;
    }

    .str {
        color: burlywood;
    }
    