.ide {
    color: royalblue;
}

.int {
    color: aqua;
}

.flt {
    color: green;
}

.par {
    color: navy;
}

.bol {
    color: purple;
}

.str {
    color: darkorange;
}
    
.end {
    color: darkcyan;
}

.err {
    color: red;
}
